:root {
    --vermelho: #e50914;
    --preta: #141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemento base */

body {
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),  url('img/Flight666.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}
.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border:none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: #fff;
    color: #000;
}
.botao i {
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

.carrosel-filmes img {
    cursor: pointer;
    transition: .3s ease all;
 }

@keyframes mymove {
    50% {transform: rotate(30deg);}
  }
 .carrosel-filmes img:hover {
    border: 5px solid;
 }

 .popup .close {
     color: black;
     float: right;
     padding: 5px ;
     cursor: pointer;
 }

 .popup .close:hover {
    background: red;
    color: white;
 }

 .popup {
    display: none;
    width: 100%; 
    height: 100%;
    z-index:999;
    background-color: rgba(0,0,0,.90);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 }
 .video {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    margin-top: 15px;
    position:absolute;
    text-align:left;
    width:650px;
    padding: 5px 25px 20px;
    top: 5%;
    left: 30%;
    right: 3%;
  }
